<div class="grid" #grid>
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  <div class="grid-item" [attr.id]="image.id" #imageContainer
      *nxgGalleryItems="let image of currentImages; gridInst: gridInst; draggable: currentEditing === undefined" #gridItem>
    <div class="spacer" [ngStyle]="{ 'padding-top': (100 / image.aspect) + '%' }"></div>

    <div class="image-container">
      <img *ngIf="image.url" [attr.src]="image.url" (click)="editImageDetails(image, imageContainer)" />
      <button 
        class="album-link" 
        *ngIf="image.childAlbumId"
        [routerLink]="['/manage/dashboard', image.childAlbumId]"
        mat-fab color="primary">
        <mat-icon aria-label="Close image info editor" fontSet="fas" fontIcon="fa-images"></mat-icon>
      </button>
      <div class="image-actions">
        <button [matMenuTriggerFor]="imageMenu" mat-mini-fab color="secondary">
          <mat-icon aria-label="Close image info editor" fontSet="fas" fontIcon="fa-ellipsis-v"></mat-icon>
        </button>
        <mat-menu #imageMenu="matMenu">
          <button *ngIf="!isAlbumRoot" (click)="setAsPrimary(image)" mat-menu-item>Set as album thumbnail</button>
          <button (click)="deleteImage(image)" mat-menu-item>Delete</button>
        </mat-menu>
      </div>

      <mat-card class="image-settings" 
        *ngIf="currentEditing !== undefined && currentEditing.itemElement === imageContainer">
        <mat-card-header>
          <mat-card-title>Image Parameters</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="imageSettingsForm">
            <mat-form-field>
              <input matInput placeholder="Caption" formControlName="caption">
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button (click)="closeImageDetails()">Cancel</button>
          <button mat-raised-button color="primary" (click)="saveImageDetails(image)">Save</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="loading-overlay" *ngIf="image.progress && image.progress.value >= 100">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="loading-overlay" *ngIf="image.progress && image.progress.value < 100">
      <mat-progress-bar mode="determinate" [value]="image.progress | async"></mat-progress-bar>
    </div>
  </div>
</div>
<div class="overlay" (click)="closeImageDetails()" #overlay>
  <button mat-fab color="basic">
    <mat-icon aria-label="Close image info editor" fontSet="fas" fontIcon="fa-times"></mat-icon>
  </button>
  <div class="overlay-bg"></div>
</div>