<div class="input-file-container">
  <label class="mat-orphan-label" [for]="id" [class.active]="files?.length" [innerHtml]="placeholder" *ngIf="placeholder"></label>
  <div class="files-container">

    <ng-container *ngIf="false">
      <ng-container *ngFor="let file of files; let i = index; trackBy: fileUnique">
        <div class="file-container bounce-in">
          <ng-container *ngTemplateOutlet="fileTemplate; context: { $implicit: file, index: i }"></ng-container>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!showFiles">
      <div class="file-container">
        <ng-container *ngTemplateOutlet="addTemplate"></ng-container>
      </div>
    </ng-container>
    <div class="file-container" *ngIf="showFiles">
      <ng-container *ngTemplateOutlet="addTemplateChipList"></ng-container>
    </div>
  </div>

</div>

<ng-template #addTemplate>
  <button *ngIf="canAddFile" mat-button inputFileDropZone class="file-button" type="button" (click)="fileInput.click()" (itemDrop)="onSelectFile($event, selectButton)"
    (itemDragOver)="onDragOver(selectButton)" (itemDragLeave)="onDragLeave(selectButton)" [disabled]="disabled" #selectButton>
    <mat-icon class="input-icon">
      <mat-icon aria-hidden="true" fontSet="fas" fontIcon="fa-plus"></mat-icon>
    </mat-icon>
    <span class="input-text" *ngIf="textAdd">{{ textAdd }}</span>
  </button>

  <input [id]="id" [accept]="fileAccept" hidden type="file" [attr.multiple]="fileLimit > 1 ? true : null" #fileInput (change)="onSelectFile($event.target.files, selectButton)">
</ng-template>

<ng-template #addTemplateChipList> 
  <div inputFileDropZone (itemDrop)="onSelectFile($event, selectButton)"
    (itemDragOver)="onDragOver(selectButton)" (itemDragLeave)="onDragLeave(selectButton)">
    <mat-form-field>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let file of files; let i = index; trackBy: fileUnique" [removable]="true" (removed)="onDeleteFile(i)">
          {{ file.file.name }}
          <a matChipRemove><mat-icon matChipRemove aria-label="delete" fontSet="fas" fontIcon="fa-times"></mat-icon></a>
        </mat-chip>
        <input matInput placeholder="Pick a file..." (click)="fileInput.click()" [matChipInputFor]="chipList" autocomplete="off">
      </mat-chip-list>
    </mat-form-field>
  </div>

  <input [id]="id" [accept]="fileAccept" hidden type="file" [attr.multiple]="fileLimit > 1 ? true : null" #fileInput (change)="onSelectFile($event.target.files, selectButton)">
</ng-template>