@mixin input-file($height, $width, $padding) {
  $mat-text: rgba(0, 0, 0, 0.54);

  .input-file-container {
    position: relative;

    .files-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    %common-container {
      align-items: center;
      display: flex;
      justify-content: center;
      width: $width;
    }

    .secondary-button {
      width: $width;
    }

    .file-button {
      @extend %common-container;

      border-radius: $height / 2;
      line-height: $height;
      flex: 1;
    }

    .file-container {
      @extend %common-container;

      flex-direction: column;
      margin-right: 1rem;

      > * {
        width: 100%;
      }

      .mat-form-field {
        width: 100%;
      }

      .mat-chip-remove {
        margin-left: 4px;
        margin-right: 2px;
      }
    }

    .replace-button {
      flex: 1;
      width: $width;
    }

    .mat-button {
      font-size: inherit;

      &:focus {
        outline: 0;
      }
    }

    .file-name {
      width: calc(#{$width} - #{$padding});
    }

    .image-preview {
      margin: 0 -16px;
      height: $height;
      object-fit: contain;
      width: $width;
    }

    .input-icon {
      font-size: inherit;
    }
    .input-text {
      margin-left: 10px;
    }

    .mat-orphan-label {
      color: $mat-text;
      display: block;
      font-size: 1rem;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      transform-origin: 0;
      transition: 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

      &.active {
        transform: scale(0.75);
      }
    }
  }

  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }

  .bounce-in {
    animation-duration: 0.75s;
    animation-name: bounceIn;
  }

  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  .slide-in-up {
    animation-duration: 0.25s;
    animation-name: slideInUp;
  }
}

@include input-file(6rem, 100%, 2.5rem);
