.mat-card-header {
  margin: -16px;
  margin-bottom: 16px;
  background: #efefef;
  border-radius: 4px 4px 0 0;

  .mat-card-header-text {
    margin-top: 16px;
  }
}

.mat-form-field {
  width: 100%;
}
