@import '~src/assets/sass/mixin/gallery';

.grid {
  @include grid();
  padding-left: $gutter-size;

  > * {
    position: relative;
  }
}

.grid-item {
  @include grid-item();

  position: absolute;

  img {
    width: 100%;
    display: block;
  }
}
