@import '~src/assets/sass/mixin/gallery';

.grid {
  @include grid();
  margin-bottom: 30px;

  > * {
    position: relative;
  }
}

.grid-item {
  @include grid-item(3);

  position: absolute;

  img {
    width: 100%;
    display: block;
    object-fit: contain;
    object-position: top;
  }
  .caption {
    display: none;
    width: 0;
    transition-property: width;
    transition-duration: 0.25s;
    transition-timing-function: ease;
  }

  &.display-detail {
    z-index: 10;
    background: transparent;
    transition-property: top, left, width, height;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    display: flex;
    align-items: flex-start;
    pointer-events: none;

    img {
      width: 100%;
      height: 100%;
      flex: 1 1 50%;
    }
    .image-container {
      height: 100%;
      flex: 1 1 auto;
      position: relative;
    }
    .caption {
      display: block;
      flex: 0 1 auto;
      width: 300px;
      background: white;
      padding: 15px;
      border-radius: 4px;
      margin-bottom: 3px;
      margin-left: 20px;
    }
  }
}

.overlay {
  @include overlay();
}
