@mixin container() {
  max-width: 1000px;
  margin: 0 auto;
}

@mixin grid() {
  @include container();

  --gutter: 0px;
}

@mixin grid-item($colNum) {
  width: calc(#{100% / $colNum} - (var(--gutter) * #{($colNum - 1) / $colNum}));
  position: relative;
  background-color: #e4e4e4;
  display: block;
}

@mixin grid-gutter() {
  width: var(--gutter);
}

@mixin overlay() {
  transition-property: opacity;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  display: none;
  background: transparent;
  opacity: 0;
  position: fixed;

  &.display {
    opacity: 1;
    display: block;
  }

  button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
  }

  @media only screen and (min-width: 750px) {
    button {
      top: 25px;
      right: 25px;
    }
  }

  .overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
    background: black;
  }
}

@mixin breadcrumb() {
  @include container();

  list-style-type: none;
  margin-top: 40px;
  font-size: 12pt;
  padding: 0;

  .breadcrumb-item {
    display: inline;
    color: #777;
    font-weight: bold;
    cursor: pointer;

    &:after {
      content: '/';
    }

    &:last-child {
      color: black;

      &:after {
        content: '';
      }
    }
  }
}
