@import '~src/assets/sass/mixin/gallery';
@import '~src/assets/sass/func/color';

.image-grid {
  @include grid();
  margin-top: 25px;
}

.breadcrumb {
  @include breadcrumb();
}

.file-input {
  margin: 20px auto;
  width: 300px;
  display: block;
  font-size: 14pt;
}

.dashboard-menu {
  background: c(gray, concrete);

  ul {
    @include container();

    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
      flex: 0 1 auto;
    }
    li.spacer {
      flex: 1 0 auto;
    }

    li.menu-buttons {
      button {
        margin-left: 10px;
      }

      [hidden] {
        display: none !important;
      }
    }
  }
}
