<link *ngIf="themeCss" rel="stylesheet" [href]='sanitizer.bypassSecurityTrustResourceUrl(themeCss)'>

<nxg-header [title]="rootAlbum.name"></nxg-header>

<header class="dashboard-menu">
  <ul>
    <li>
      <nxg-input-file class="file-input" fileAccept="image/*" fileLimit="50" (acceptedFile)="upload($event)" textAdd="Upload Images"></nxg-input-file>
    </li>
    <li class="menu-buttons">
      <button (click)="openConfigDialog()" mat-raised-button color="primary">
        <mat-icon aria-hidden="true" fontSet="fas" fontIcon="fa-cog"></mat-icon>
        Settings
      </button>
    </li>
  </ul>
</header>

<section #imageGrid class="image-grid">
  <!--<div class="progress-item" *ngFor="let item of uploadsInProgress">
    {{ item.file.name }}
  </div>-->
  <nxg-gallery 
    [images]="images" 
    [progress]="uploadsInProgress" 
    (movedImages)="saveImagePositions($event)" 
    (updatedImage)="saveImageInfo($event)"
    (removeImage)="removeImage($event)"></nxg-gallery>
</section>
